@keyframes enterAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}



.alertContainer{
    color: black;
    font-size: 20px;
    width: max-content;
    z-index: 2000;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4rem 2rem; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    section{
        animation: enterAnimation 0.5s ease-in-out;
        width: 100%;
        background-color: red;
        border: 1px solid black;
        margin: -1.5rem 0rem;
        border-radius: 1rem;
        padding: 1rem;

    }
    &:hover section{
        transition: all 0.3s ease-in-out;
        margin: 0.5rem 0rem;
    }
    .alertError{
        background-color: red;
        
    }
    .alertSuccess{
        background-color: green;
    }
    .alertInfo{
        background-color: blue;
    }
}
