@keyframes enterAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}



.alertContainer{
    color: black;
    font-size: 20px;
    width: max-content;
    z-index: 2000;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4rem 2rem; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    section{
        animation: enterAnimation 2.1s ease-in-out;
        
        width: 20rem;
        border: 1px solid rgba(0, 0, 0, 0.907);
        margin: -3.5rem 0rem 0rem 0rem;
        border-radius: 1rem;
        padding: 1rem;
    }
    
    &:hover section{
        transition: all 0.3s ease-in-out;
        margin: 1rem 0rem 0rem 0rem;
    }
    .alertError{
        background-color: rgb(215, 76, 76)
        
    }
    .alertSuccess{
        background-color: rgba(67, 159, 67, 0.975);
    }
    .alertInfo{
        background-color: rgb(72, 72, 183);
    }
}
