.buttonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
	button {
		width: 40%;
        margin: 0;
		padding: 0.7rem 0rem;
		border-radius: 1rem;
		border: 0.15rem solid transparent;
		background-color: var(--color-blue-light);
		color: var(--color-text-primary);
		font-family: 'Lexend-Medium';
		font-size: 1.3rem;
		cursor: pointer;

		&:hover {
			background-color: var(--color-text-primary);
			color: var(--color-blue-light);
			border: 0.15rem solid var(--color-blue-light);
		}
		transition: all 0.2s ease-in-out;
	}
}
