.cont {
	justify-content: center;
	display: flex;
	height: 100vh;
	align-items: center;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 3rem;
		margin: 0 auto;
		background-color: var(--color-background-dark);
		border-radius: 1rem;
	}
	h3,
	label,
	h4 {
		font-family: 'Lexend-Regular';
		color: var(--color-text-primary);
		text-align: center;
	}
	h3 {
		font-size: 1.7rem;
	}
	input,
	textarea {
		width: 100%;
	}

	label,
	h4 {
		width: 100%;
		padding: 0.5rem 0;
		font-size: 1.3rem;
		margin-left: 0;
		text-align: left;
	}
}

.btnCont {
	margin-top: 1.5rem;
	padding: 0.5rem;
	width: 100%;
	display: flex;
	align-items: center;
}
.btnCancel {
	color: var(--color-text-secondary);
	background-color: var(--color-background-light);
	font-size: 20px;
	padding: 0.2rem;
}

.btnSubmit {
	color: var(--color-text-primary);
	background-color: var(--color-blue-light);
	font-size: 20px;
	padding: 0.2rem;
}
.divider {
	border-top: 1px solid var(--color-text-primary);
	box-shadow: 0px 0px 10px rgba(238, 233, 233, 0.863);
	width: 55%;
	margin: 0.3rem auto;
}
