.cont {
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
    
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--color-background-dark);
    border-radius: 1rem;
}
h3, label, h4 {
    font-family: 'Lexend';
    color: var(--color-text-primary);
}
h3 {
    font-size: 1.7rem;
}

label, h4 {
    text-align: left;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}
.btnCont {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;

}
.btnCancel {
    color: var(--color-text-secondary);
    background-color: var(--color-background-light);
    
}
.separator {
    
    border-left: 1px solid var(--color-text-primary);
    height: 2rem;
    margin: 0 2rem;
}

.btnSubmit {
    color: var(--color-text-secondary);
    background-color: var(--color-yellow);

}
.divider {
    border-top: 1px solid var(--color-text-primary);
    box-shadow: 0px 0px 10px rgba(238, 233, 233, 0.863); 
    width: 55%;
    margin: 0.3rem auto;
}

@font-face {
    font-family: 'Lexend';
    src: url('../../assets/fonts/Lexend-Regular.ttf') format('truetype');
}

