.cont{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    border: 2px solid black;
    background-color: var(--color-background-dark);
}
h3, label, h4 {
    color: var(--color-text-primary);
}
.btnCancel{
    color: var(--color-text-secondary);
    background-color: var(--color-background-light);
}
.btnSubmit{
    color: var(--color-text-secondary);
    background-color: var(--color-yellow);
}

