.container {
  margin: auto;
}
.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  p {
    color: #000;
    font-size: 20px;
  }
}

.card {
  display: flex;
  background: #fff;
  width: 150px;
  height: 60px;
  border: solid 1px black;
  border-radius: 12px;

  span {
    font-size: 25px;
    margin-left: 10px;
  }
}

.logo {
  margin: auto;
}
