
.mainContainerGrid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    padding: 2rem 3rem;
    width: 100%;
    height: 100%;
    background-size: cover;
    justify-items: center;

  
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;  
        background-size: contain; 
        max-width: 100%;
        background-color: #F3F4F8;
    }
    margin: 0 auto;
  }
  
  .containerLeft {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content;
    row-gap: 1.5rem;
    justify-content: center;
    padding: 2rem 0rem;
    align-items: flex-start;
    justify-items: center;
    width: 100%;
    @media screen and (min-width: 1200px) {
      justify-content: flex-end;
    }
    @media screen and (max-width: 680px) {
        grid-template-columns: 1fr;  
        background-size: contain; 
        max-width: 100%;
        background-color: #F3F4F8;
    }
}
  
  .containerRight {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content min-content;
    row-gap: 1.5rem;
  
    h1 {
      color: var(--color-text-secondary);
      font-size: 5rem;
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
    @media screen and (max-width: 680px) {
      h1 {
        font-size: 3rem;  // Ajusta el tamaño del título en pantallas más pequeñas
      }
    }
  }
  
  .check {
    display: flex;
    gap: 0.5rem;
  
    input {
      margin-top: 7px;
    }
  }
  