.timer{
    width: 100%;
    justify-self: center;
    text-align: center;
    font-family: 'Lexend-SemiBold';
    font-size: 1.8rem;
    line-height: 1rem;
} 

.timerSmall{
    font-size: 1.5rem;
    font-family: 'Lexend-SemiBold';
}

.containerTimer{
    width: 100%;
}