.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 1.5vw;
    background-color: #ffffff;
    border-radius: 0.5vw;
    color: #6E88AD;
    height: max-content;
}

.navContainer img{
    width: 2vw;
    height: 2vw;
}
.navContainer h4{
    font-size:1.5vw;
    padding: 0vw;
    margin: 0vw 0.5vw;
}
.locationContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sortContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}