.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 4rem;
    width: 100%;
    height: auto;
    gap: 2rem;
    h1{
        font-size: 4rem;
        margin: 0;
        padding: 0;
        color: var(--color-text-secondary);
    }
    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 1rem;
        align-items: start;
        justify-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }
}