.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 6rem;
    width: 100%;
    height: 100%;
    gap: 1.5rem;
    h1{
        font-size: 5rem;
        margin: 0;
        padding: 0;
        color: var(--color-text-secondary);
    }
    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
        align-items: flex-start;
        justify-items: flex-start;
        width: 100%;
    }
}