.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--color-text-primary);
  padding: 2rem 4rem;
  width: 22rem;
  height: max-content;
  border: 1px solid #ccc;
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    img {
      object-fit: cover;
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
    }
    figcaption {
      display: flex;
      flex-direction: column;
      width: max-content;
      justify-content: flex-start;
      margin: 0.5rem 0rem;
      color: #282c34;
      h3 {
        font-size: 2rem;
      }
      h4 {
        font-size: 1rem;
      }
    }
  }
  footer {
    margin: 0;
    padding: 0;
    h4 {
      color: var(--color-text-dark);
      font-family: "Lexend-SemiBold";
      font-size: 1.1rem;
    }
    div {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: center;
      align-items: first baseline;
      margin: 0.5rem 0rem;
      h5 {
        color: #282c34;
        font-size: 1rem;
        margin-right: 1rem;
      }
      img {
        width: 1.25rem;
        height: 1.25rem;
        align-self: center;
      }
      h4 {
        font-size: 1rem;
        color: var(--color-text-grey);
      }
    }
  }
  p{
    color: var(--color-text-dark);
    font-family: "Lexend-SemiBold";
    font-size: 1.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 0.5rem;
      color: var(--color-text-grey);
      font-family: "Lexend-SemiBold";
      font-size: 1.1rem;
    }
  }
}

.bar {
  margin-top: 15px;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
