/* styles.module.css */

.titulo {
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.campos {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

span {
  color: red; /* Puedes cambiar el color según tus preferencias */
  font-size: 0.8rem;
}

select {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  color: black;
  cursor: pointer;
  border: none;
  gap: 1rem;
}

/* Estilo para el botón "Back" */
.back-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100px;
  cursor: pointer;
}
