$color-grey : #CCCCCC;


.containerModalPrice {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	width: 100%;
	height: 100%;
	background-color: #F3F4F8;
	padding: 2.5rem 4rem;
	border-radius: 1rem;
	justify-items: center;
	h1 {
		color: var(--color-text-secondary);
		font-size: 5.2rem;
	}
	h3 {
		color: var(--color-text-dark);
		font-size: 1.5rem;
		font-family: 'Lexend-SemiBold';
	}

	.containerModalPriceChildren {
		display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
		width: 80%;
    column-gap: 3rem;
    justify-items: center;
		align-items: start;
		justify-content: center;

		.containerOfferPrice {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin: 0;
			padding: 0;

			h3 {
				color: var(--color-text-grey);
				font-size: 1.3rem;
				width: 100%;
        font-family: 'Lexend-Medium';
			}
			.ofertas {
				display: flex;
				flex-direction: column;
        border: 0.15rem solid $color-grey;
        border-radius: 0.5rem;
				width: 100%;
				padding: 0.25rem 1.5rem 1.5rem 1.5rem;
        gap: 0.5rem;

				img {
					width: 1.5rem;
					height: 1rem;
					margin-right: 1rem;
				}

        h5{
          font-size: 1.2rem;
          color: $color-grey;
          font-family: 'Lexend-SemiBold';
          margin-bottom: 1rem;
        }
				h6 {
          display: flex;
          align-items: center;
          gap: 0.5rem;
					text-align: left;
          font-size: 1.3rem;
          color: var(--color-text-dark);
          margin: 0;
          padding: 0;
          img{
            width: 2rem;
            height: 2rem;
            margin: 0;
            padding: 0;
          }
				}

				.priceInput {
					position: relative;
          color: var(--color-text-dark);
          margin-bottom: 1rem;
          
					span {
						position: absolute;
						align-self: first baseline;
						justify-self: first baseline;
						margin-left: 1rem;
            margin-top: 0.75rem;
            font-size: 1.5rem;
					}

					input {
						width: 100%;
						background-color: white;
						padding: 0.75rem 2.25rem;
            border: 0.15rem solid transparent;
            font-size: 1.5rem;
            font-family: 'Lexend-Medium';
            color: var(--color-text-dark);
            outline: none;
            margin: 0;
            &:hover{
              border: 0.15rem solid $color-grey;
            }
            &:focus{
              border:0.15rem solid $color-grey;
            }
            &:active{
              border: 0.15rem solid $color-grey;
            }
					}
				}

				button{
					width: 100%;
					padding: 0.75rem 0rem;
					border: 0.15rem solid transparent;
					border-radius: 1rem;
          font-size: 1.5rem;
          font-family: 'Lexend-Regular';
					background-color: var(--color-blue-light);
					color: var(--color-text-primary);
					font-weight: bold;
					transition: all 0.5s;
					-webkit-transition: all 0.5s;

          &:hover{
            border-color: var(--color-blue-light);
            background-color: var(--color-text-primary);
            color: var(--color-blue-light);
          }
				}
			}
		}
	}
}
