.container {
    max-width: 100%;
    padding: 40px;
    background-color: gray;
    background-image: url("@images/background1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
  }
  .image{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    z-index: 2;
  }
  .collage{
    position: fixed;
    top: 205px;
    left: 150px;
  }
  .wrapper {
    position: fixed;
    top: 300px;
    right: 400px;
    z-index: 1;
    padding: 20px; 
    font-size: 40px;
    max-width: 30%;
    text-align: center;
  }
  .btn{
    position: fixed;
    top: 500px;
    right: 600px;
    z-index: 1;
  }

  .ctaButton {
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(9, 142, 243);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .ctaButton:hover {
    background-color: darkblue;
  }
  .pol3{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1;
  }
  .pol {
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 1;
  }