.containerOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100; 
}

.containerModal{
    position: absolute;
    top: 50%; /* Ajusta verticalmente */
    left: 50%; /* Ajusta horizontalmente */
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
}

.cross{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}