.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    background-color: #393F4D;
    padding: 2.5rem 10rem;
    border-radius: 1rem;
    h1{
        color: var(--color-text-secondary);
        font-size: 5.2rem;
    
    }
    h3{
        color: var(--color-text-dark);
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: 'Lexend-SemiBold';
    }
    section{
        width: max-content;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 2rem;
        align-items: flex-start;

        .subtitulo {
        text-align: left;
        font-size: 15px;
        }
        .mail {
            margin-right: 0.5rem;
        }

        input{
            
            background-color: aliceblue;
            width: 95%;
            margin-right: 20rem;

        }


        h4{
            color: var(--color-text-grey);
            font-size: 1.2rem;
        }
        h2{
            color: var(--color-blue-light);
            font-size: 2.3rem;
        }
    }

    button {
        padding: 20px;
        width: 200px;
        border: 10%;
    }
}