.carouselComponent {
  background-color: var(--color-text-primary);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  overflow-x: hidden;
  width: 45rem;
  height: 20rem;
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;

  h3{
    font-size: 1.5rem;
    width: max-content;
    border-bottom: 0.125rem solid #00000025;
  }
}

.swiper {
	width: 100%;
	height: 100%;
  margin-left: -2rem;
  margin-right: .2rem;
  overflow: visible;
  margin-left: 0;
  position: relative;

}
.swiperSlides {
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.swiperSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderFigure {
  display: block;
  object-fit: cover;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: ease 0.5s transform;
  &:hover {
    transform: scale(1.3);
    position: relative;
    z-index: 5;
  }
}

.sliderImg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
}
