.containerGrid{
    display: grid;
    grid-template-rows: min-content min-content auto;
    padding: 2rem 4rem;
    row-gap: 2rem;
    h1{
        font-family: 'Nanum-Brush';
        color: var(--color-text-secondary);
        padding: 0vw;
        margin: 0vw;
        font-size: 4rem;
    }
}