.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 4rem;
    width: 100%;
    height: 100%;
    gap: 2rem;
    h1{
        font-size: 4.5rem;
        margin: 0;
        padding: 0;
        color: var(--color-text-secondary);
    }
}

.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 4rem;
    column-gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: center;

}