.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 20px 20px 20px;
  min-height: 100%;
  background-color: #f3f4f8;
}

.form-container {
  text-align: center;
  padding: 0;
  border-radius: 8px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  max-width: 270px;
}

.input_container {
  position: relative;
}

input[type="password"] {
  padding-right: 30px; /* Ajusta según sea necesario */
}

.toggle-password-icon {
  position: absolute;
  width: 30px;
  top: 70%;
  right: 11px; /* Ajusta según sea necesario */
  transform: translateY(-50%);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  color: var(--color-background-dark);
  font-size: 10px;
}

label {
  margin-bottom: 3px;
  color: var(--color-background-dark);
  text-align: left;
}

.titulo {
  font-family: "Lexend-Medium";
  color: var(--color-background-dark);
}

input,
select {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.logo_container {
  justify-content: center;
  display: flex;
  align-items: flex-end;

  span {
    color: #52c1e4;
    margin-bottom: 1px;
    display: block;
  }
}

.form_auth_hr {
  height: 3px;
  background: #2f333c;
  width: 100%;
  max-width: 270px;
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
}

.auth_form {
  input,
  select {
    background: #dddddd;
    width: 100%;
    margin-bottom: 0;
    height: 32px;
  }

  label {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    img {
      height: 16px;
      margin-right: 7px;
      object-fit: contain;
      width: 20.8px;
    }
    span {
      font-size: 14px;
    }
  }

  + .form_auth_hr {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .auth_btn {
    margin: 0 0 14px 0;
  }
}

.auth_form_icon {
  color: var(--color-background-dark);
  width: 20px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.input_container {
  width: 100%;
  margin-bottom: 28px;
  > span {
    text-align: left;
    width: 100%;
    display: block;
    font-size: 11px;
    line-height: 1;
    margin-top: 5px;
    color: #f44336;
  }
}

.auth_btn {
  width: 100%;
  font-size: 14px;
  color: #151313;
  font-family: "Lexend-Medium";
  height: 32px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_btn:hover {
  background: rgb(221 221 221 / 10%);
  color: #fff;
}

p.footer_credit {
  color: #dddddd;
  span {
    margin: 0 5px;
  }
}

.auth_flex {
  width: 575px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .input_container {
    flex: 0 0 calc((100% - 35px) / 2);
  }

  @media screen and (max-width: 660px) {
    flex-direction: column;
    max-width: 270px;
    width: 100%;

    .input_container:nth-child(1) {
      order: 3;
    }

    .input_container:nth-child(2) {
      order: 1;
    }

    .input_container:nth-child(3) {
      order: 4;
    }

    .input_container:nth-child(4) {
      order: 2;
    }

    .input_container:nth-child(5) {
      order: 5;
    }

    .input_container:nth-child(6) {
      order: 6;
    }
  }
}

.auth_btns {
  width: 100%;
  max-width: 270px;
}
