.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  max-width: 800px;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
  border-radius: 12px;
  gap: 30px;

  p {
    font-size: 14px;
    color: black;
  }
}

.notiImg {
  background-repeat: no-repeat;
  border-radius: 60px;
  height: 60px;
  flex: 0 0 60px;
  background-size: cover;
  background-position: center center;
}

.pago {
  color: #6e88ad;
}

.button {
  margin: 1px;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  cursor: pointer;
  gap: 30px;
}

.notiButton1 {
  background: #52c1e4;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 9px;
}

.notiButton1:hover {
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.notiButton2 {
  background-color: #ce4b4b;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 9px;
}

.notiButton2:hover {
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.containerMainUsers{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0rem 2rem;
}
.containerPaginate{
  display: flex;
  flex-direction: row;
  align-self: center;
  width: max-content;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: 0.2rem solid #cccccc;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    button{
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text-dark);
  }
}