.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    background-color: var(--color-text-primary);
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    width: max-content;
    h3 {
      color: var(--color-text-dark);
      border-bottom: 0.2rem solid #DDDDDD;
      text-align: center;
      align-self: center;
      margin: 0 0 1rem 0;
      padding: 0.25rem 0rem;
      font-size: 1.5rem;
    }
  }
  
  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  
    h4 {
      color: var(--color-text-dark);
      padding: 0;
      margin: 0;
      font-size: 1.2rem;
    }
  
    h5 {
      color: var(--color-text-grey);
      padding: 0;
      margin: 0;
      font-size: 1.1rem;
    }
  }
  