.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: var(--color-background-light);
  background-image: url("@images/login/background-light.png");
  background-size: 100% auto;
  h1 {
    margin: 30px 0;
    color: var(--color-primary);
  }
}
.modeDark {
  background-color: var(--color-background-dark);
  [class^="_form-container"] {
    background: var(--color-background-dark2);
  }
}

.form-container {
  display: flex;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
  padding: 60px 70px;
  background-color: #fff;
  justify-content: center;
}

.formContent {
  max-width: 300px;
  width: 100%;
}

.pasword-recovery-container{
  font-size: 12px;
  text-align: left;
  display: flex;
  margin-top: 5px;
  a {
    color: var(--color-blue-light);
    &:hover {
      color: var(--color-blue-light);
      text-decoration: underline;
    }
  }
}

.register-container{
  font-size: 14px;
  display: flex;
  position: relative;
  font-size: 14px;
  a {
    font-size: 14px;
    color: var(--color-blue-light);
    &:hover {
      color: var(--color-blue-light);
      text-decoration: underline;
    }
  }
  label {
    font-size: 14px;
    color: var(--color-background-dark2);
  }
}


.toggle-password-icon {
  position: absolute;
  top: 75%;
  right: 11px; /* Ajusta según sea necesario */
  transform: translateY(-50%);
  cursor: pointer;
}

.logo_container {
  justify-content: center;
  display: flex;
  align-items: flex-end;
  svg {
    height: 60px;
    width: auto;
  }
  span {
    color: #52c1e4;
    display: block;
    font-family: "Lexend-SemiBold";
    font-size: 18px;
    line-height: 1;
    margin-bottom: 1px;
  }
}

.input_container {
  width: 100%;
  margin-bottom: 20px;
}

.auth0Button {
  padding-top: 20px;
  button {
    background: none;
    padding: 5px 5px;
    font-size: var(--button-font-size-small);
    height: var(--button-height-small);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-primary);
    color: var(--color-primary);
    transition: 0.4s ease all;
    &:hover {
      color: var(--color-primary);
      background: none;
      transform: scale(1.05);
    }
  }
}