$color-grey: #cccccc;

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  background-color: var(--color-text-primary);
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 100%;
  height: max-content;
  @media screen and (max-width: 1200px) {
    min-width: initial;
  }
  h3 {
    color: var(--color-text-dark);
    border-bottom: 0.2rem solid #DDDDDD;
    text-align: center;
    align-self: center;
    margin: 0 0 1rem 0;
    padding: 0.25rem 0rem;
    font-size: 1.5rem;
  }
}

.info {
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: row;

  h4 {
    color: var(--color-text-dark);
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
  }

  h5 {
    color: var(--color-text-grey);
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
  }
}

.caregivers {
  width: 100%; /* Ancho al 100% para ocupar el ancho completo en pantallas pequeñas */
  padding: 1.5rem;
  
  .info {
    display: flex;
    flex-direction: column;
  }
}

.owner {
  .info {
    display: flex;
    flex-direction: row;
  }
}

.datesContainer {
  display: flex;
  flex-direction: column; /* Cambiado a columna en pantallas pequeñas */
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin: 0rem 0rem 1rem 0rem;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    font-family: 'Lexend-Regular';

    h4 {
      color: var(--color-text-grey);
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
    }

    h5 {
      color: var(--color-text-dark);
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .article {
    align-items: center;
  }

  .caregivers {
    width: 100%;
  }
}
@media screen and (min-width: 679px) and (max-width: 1024px) {
  .owner {
    .info {
      flex-direction: column;
    }
  }
}
// @media screen and (max-width: 500px) {
//   .owner {
//     .info {
//       flex-direction: column;
//     }
//   }
// }