$color-grey: #CCCCCC;

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: max-content;
    margin: 0;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    border: 0.15rem solid $color-grey;
    h2{
        font-size: 1.2rem;
        font-family: 'Lexend-SemiBold';
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        color: $color-grey;
    }
    h3{
        font-size: 1.3rem;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: first baseline;
        width: 100%;
        img{
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.7rem;
            align-self: center;
            margin-bottom: 0.4rem;
        }
        label{
            font-family: 'Lexend-Medium';
            font-size: 1.3rem;
            margin: 0;
            padding: 0;
            color: var(--color-text-dark);
            margin-bottom: 0.2rem;
        }
    }
    input{
        font-family: 'Lexend-Regular';
        width: 100%;
        height: 3rem;
        margin: 0;
        padding: 1rem 1.7rem; 
        border: 0.2rem solid transparent;
        outline: none;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        color: var(--color-text-grey);
        background-color: var(--color-text-primary);
        &:focus{
            border-color:  var(--color-text-secondary);
        }
        margin-bottom: 0.8rem;
    }
    select{
        font-family: 'Lexend-Regular';
        width: 100%;
        margin: 0;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        outline: none;
        padding: 0.5rem 1.5rem;
        border: 0.2rem solid transparent;
        color: var(--color-text-grey);
        background-color: var(--color-text-primary);
        margin-bottom: 0.8rem;
        &:focus{            
            border-color: var(--color-text-secondary);
        }
        option{
            font-size: 1.5rem;
            color: var(--color-text-grey);
            background-color: var(--color-text-primary);
        }
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('@icons/filterSortLocationBar/arrowDrop.svg');
        background-position: right center;
        background-repeat: no-repeat;
        background-position-x: 96%;
    }
    textarea{
        font-family: 'Lexend-Regular';
        width: 100%;
        height: max-content;
        margin: 0;
        padding: 0.5rem 1.5rem;
        border: 0.2rem solid transparent;
        outline: none;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        resize: none;
        color: var(--color-text-grey);
        background-color: var(--color-text-primary);
        &:focus{
            border-color: var(--color-text-secondary);
        }
        margin-bottom: 0.8rem;
    }
}