body {
  background-color: var(--color-background-dark);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
}

.form-container {
  text-align: center;

  padding: 10px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  color: var(--color-background-light);
  font-size: 10px;
}

label {
  margin-bottom: 3px;
  color: var(--color-text-primary);
  text-align: left;
}

h1 {
  font-family: "Nanum-Brush";
  color: var(--color-text-primary);
}

input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  margin-top: 4px;
  background-color: var(--color-background-dark);
  color: var(--color-text-primary);
  height: 100%;
  width: 100%;
  border: solid 1px white;
  border-radius: 5px;
  cursor: pointer;
}

button:not(:last-child) {
  margin-right: 10px;
}
