#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
}
.App{
  height: 100%;
}
html{
  height: 100%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media screen and (max-width: 1550px) {
  :root{
    font-size: 14px;
  }
}

@media screen and (max-width:1425px) {
  :root{
    font-size: 12px;
  }
}

@media screen and (max-width:1024px) {
  :root{
    font-size: 11px;
  }
}

@media screen and (max-width:768px) {
  :root{
    font-size: 10px;
  }
}
