@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Imbue:opsz@10..100&family=Kanit:ital@1&family=Nanum+Brush+Script&family=Oswald:wght@500&family=Roboto+Slab:wght@300&family=Signika+Negative&display=swap');

.containerUsers{
  background-color: #F3F4F8;

}

 .usuarios {
  font-family: Nanum Brush Script;
  font-size: 100px;
  color: #6E88AD;
 }