.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: #282c34;
	padding: 0vw 2vw;
	width: max-content;
}

.containerLogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2vh 0vw;
}
.containerLogoChild {
	display: flex;
	flex-direction: row;
}
.containerLogoChild h4{
	padding: 0vw;
	margin: 0vw 0vw ;
	align-self: flex-end;
	color:#52C1E4;
}
.burger {
	height: 18px;
	width: 28px;
	margin-bottom: 1vh;
}
.logo {
	height: 16px;
	width: 41.54px;
}
.containerProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2vh 0vw;
}

.containerProfile h5 {
	color: #ffffff;
	font-size: 10px;
	margin: 0vw;
}

.containerProfile span {
	color: #ffffff85;
	font-size: 8px;
}
.imgProfile {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0.25vh solid #f6f6f6;
	object-fit: cover;
}
.containerProfileChild {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.containerProfileChild img {
    width: 14px;
	height: 14px;
}
.containerHandshake {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav {
	margin: 1vh 0vw;
    border-bottom: 0.25vh solid rgba(255, 255, 255, 0.10);
    padding-bottom: 2.5vh;
}
.ul {
	display: flex;
	flex-direction: column;
	margin: 0vw;
	padding: 0vw;
	list-style: none;
}
.ul img {
	height: 20px;
	width: 20px;
	padding: 0.25vh;
}
.linkContainer {
	border-radius: 0.5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 1vh 0vw;
}
.selected{
	background-color: #52C1E4;
}


/* -----------------------------------Active----------------------------------------*/


.show {
	padding: 0vw 2vh;
}
.show .containerLogo {
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 100%;
}
.show .burger {
	width: 36px;
	height: 36px;
}
.show .logo {
	height: 52px;
	width: 139.8px;
}
.show .containerProfile {
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.show .imgProfile {
	width: 100px;
	height: 100px;
	margin-right: 2vh;
}
.show .containerProfileChild {
	align-items: flex-start;
}
.show .containerProfileChild h5 {
	font-size: 22px;
}
.show .containerProfileChild span {
	font-size: 18px
}
.show .containerHandshake {
	flex-direction: row;
	align-items: flex-start;
}
.show .containerHandshake img {
	width: 22px;
	height: 22px;
	margin-right: 0.5vh;
}
.show .nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0vw;
	margin: 0vw;
}
.show .ul {
	width: 100%;
	padding: 0vw 6vh;
}
.show .linkContainer {
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
	color: inherit;
	border-radius: 1.5vh;
}
.show .linkContainer li{
    font-size: 20px;
    margin: 0vh 0vh;
    color: #ffffff;
}
.show .linkContainer img {
	width: 36px;
	height: 36px;
    margin: 0.25vh 1vh;
	margin-right: 1.5vh;
}
